@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a p {
  color: white;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  transition: all 1s ease-in-out;
}
header nav ul li a p:hover {
  font-weight: bolder;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  background-color: #cc0000;
}

#content {
  max-width: 1440px;
  padding: 15px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#content form {
  display: flex;
  align-items: center;
}
#content form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2em;
}
#content form button {
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  background-color: rgb(26, 170, 16);
  color: white;
}
#content form button:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}
#content .product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
#content .product-container .left-content {
  padding: 15px;
}
#content .product-container .left-content figure {
  overflow: hidden;
  border-radius: 15px;
}
#content .product-container .left-content figure img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
#content .product-container .left-content figure img:hover {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}
#content .product-container .right-content {
  padding: 15px;
}
#content .product-container .right-content .list-product ul li {
  list-style-type: none;
  margin-top: 15px;
  font-weight: 400;
}
#content .product-container .right-content .list-product .btn-cta-container {
  display: flex;
  margin-top: 15px;
}
#content .product-container .right-content .list-product .btn-cta-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#content .product-container .right-content .list-product .btn-cta-container a button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
}
#content .product-container .right-content .list-product .btn-cta-container a .btn-update {
  background-color: gold;
  color: black;
  margin-right: 15px;
}
#content .product-container .right-content .list-product .btn-cta-container a .btn-update:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  background-color: #d6b500;
}
#content .product-container .right-content .list-product .btn-cta-container a .btn-delete {
  background-color: red;
  color: white;
}
#content .product-container .right-content .list-product .btn-cta-container a .btn-delete:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  background-color: #d60000;
}
#content .pagination-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
#content .pagination-container a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}
#content .pagination-container .center-content {
  display: flex;
}
#content .pagination-container .center-content a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}
#content .pagination-container a {
  color: white;
  text-decoration: none;
}
#content .action-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
#content .action-container a {
  text-decoration: none;
}
#content .action-container a .btn-add {
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  background-color: rgb(24, 159, 255);
  color: white;
}
#content .action-container a .btn-add:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  background-color: #0085e4;
}
#content .action-container a .btn-wealth {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  background-color: rgb(26, 170, 16);
  color: white;
}
#content .action-container a .btn-wealth:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  background-color: #137b0c;
}

@media screen and (max-width: 1300px) {
  #content .product-container {
    max-width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  #content .product-container {
    max-width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  #content .product-container {
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  #content .product-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 700px) {
  #content .product-container {
    max-width: 100%;
  }
  #content .product-container .left-content figure img {
    width: 250px;
    height: 250px;
  }
  #content .product-container .right-content .list-product ul li p {
    font-size: 0.9em;
  }
  #content .product-container .right-content .list-product ul li a .btn-update {
    padding: 10px;
    font-size: 0.9em;
  }
  #content .product-container .right-content .list-product ul li a .btn-delete {
    padding: 10px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 600px) {
  #content .product-container {
    max-width: 100%;
  }
  #content .product-container .left-content figure img {
    width: 200px;
    height: 200px;
  }
  #content .product-container .right-content .list-product ul li p {
    font-size: 0.6em;
  }
  #content .product-container .right-content .list-product ul li a .btn-update {
    padding: 10px;
    font-size: 0.6em;
    margin-right: 5px;
  }
  #content .product-container .right-content .list-product ul li a .btn-delete {
    padding: 10px;
    font-size: 0.6em;
  }
}/*# sourceMappingURL=index.css.map */