@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1.2em;
    background-color: rgb(62, 62, 62);
}



header {
    padding: 15px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

header section {
 margin-top: 15px;
}




header .left-content .description {
    text-align: center;
}

header .left-content .description h1 {
    font-size: 2.5em;
  
}

header .left-content .description p {
    font-size: 1.5em;
    margin-top: 15px;
  
}

header nav {
    margin-top: 15px;

}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    margin-right: 15px;
    
}



/* Common rule */
a {
    text-decoration: none;
}

figure {
    overflow: hidden;
    border-radius: 15px;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
    transition: all 1s ease-in-out;
}

img:hover {
    border-radius: 15px;
    transform: scale(1.2);
    transition: all 0.5 ease-in-out;
}


/* Last common rule */


/* Responsive breakpoints */

@media screen and (max-width: 1200px) {
    header {
        top: 2%;
    }
    header .left-content .description h1 {
        font-size: 2em;
    }
    header .left-content .description p {
        font-size: 1.2em;
    }
}