@import "style";

* {
    @include universal-rule();
}

body {
    background-color: black;
}

#content {
    @include content-rule($montserrat-font, $common-font);
    @include one-page-rule;
    top: 15%;
    color: white;


    .login-container {
        @include container-rule();

        .left-content {
            flex-basis: 50%;
        }

        .right-content {
            flex-basis: 50%;

            form {
                ul {
                    li {
                        margin-bottom: 20px;
                        list-style-type: none;

                        h1 {
                            text-align: center;
                        }

                        .username-input {
                            @include input-rule();
                        }

                        .password-input {
                            @include input-rule();
                        }
                    }
                }

                button {
                    background-color: $btn-add-color;
                    width: 100%;
                    color: white;
                    @include btn-cta();

                    &:hover {
                        background-color: darken($btn-add-color, 10%);

                        @include btn-cta-hover();

                    }
                }
            }


            .link-container {
                @include container-rule();
                flex-direction: column;


                a {
                    margin-top: 20px;
                    text-decoration: none;
                    color: white;

                    .register-button {

                        @include btn-cta();
                        padding: 10px;
                        background-color: rgb(0, 255, 132);
                        color: black;

                        &:hover {
                            background-color: darken($color: rgb(0, 255, 132), $amount: 10%);
                            @include btn-cta-hover();
                        }
                    }
                }

            }

        }
    }
}

@media screen and (max-width: 1024px) {

    #content {
        top: 25%;

        .login-container {
            flex-direction: column;

            .left-content {
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }

}