@import "style";

* {
    @include universal-rule();
}

main {
    #content {
        @include content-rule($montserrat-font, $common-font);

        form {
            ul {
                text-align: center;

                li {
                    margin-bottom: 15px;

                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: white;
                    }

                    input {
                        @include input-rule();
                        width: 50%
                    }

                    button {
                        width: 50%;
                        @include btn-cta();
                        background-color: green;
                    }
                }
            }
        }
    }
}