@import "style";

* {
    @include universal-rule();
}


main {
    #content {
        @include content-rule($montserrat-font, $common-font);

        .wealth-container {
            @include container-rule();
            flex-direction: column;

            .left-content {
                text-align: center;
                margin-bottom: 15px;

                a {
                    text-decoration: none;

                    h1 {
                        font-size: 3em;
                        cursor: pointer;
                    }
                }
            }

            table {

                text-align: center;
                border: 1px solid white;

                thead {
                    padding: 15px;

                    th {
                        padding: 15px;
                    }
                }

                tr {
                    padding: 15px;

                    td {
                        padding: 15px;
                    }
                }
            }
        }
    }
}